@import '../../variables.less';

.btn {position: relative;
  &.btn-social {position: relative; padding-left: 4.4rem; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    span {position: absolute; left: 0; top: 0; bottom: 0; width: 3.2rem; line-height: 3.4rem; font-size: 2.2rem; text-align: center; border-right: 1px solid rgba(0,0,0,0.2);}
  }
  &.btn-facebook {color: @white; background-color: #3b5998;}
  &.btn-google {color: @white; background-color: #dd4b39;}
}