@import './variables.less';

h1, h2, h3, h4, h5, h6 {color: @primary; font-family: @primary-font;}

.btn {display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; transition: all .5s;
}
.btn-primary {color: @white; background-color: @primary; border-color: darken(@primary, 20%);
    &:hover {background-color: @secondary; border-color: darken(@secondary, 10%);}
    &:active {background-color: @primary; border-color: darken(@primary, 20%);}
}

.page-name {margin-top: 0;
    @media @xs {margin-top: 2rem;}
}

.site-wrapper {
    display: grid; 
    grid-gap: 1.5rem;
    grid-template-areas: 
        "header"
        "body"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 4rem auto auto;

    header { grid-area: header; }
    & > main { 
        grid-area: body;  
        margin: 6rem auto 3rem; 
        width: 100%; 
        max-width: 120rem;
        padding: 0 3rem;
        min-height: 80vh;
        @media @xs {margin-top: 3rem; padding: 0 1.5rem;}
    }
    footer { grid-area: footer; }
}

.left-column-wrap {
    display: grid;
    grid-column-gap: 3rem;
    grid-template-areas: 
        "left-column right-column";
    grid-template-columns: 25% 1fr;
    @media @xs {
        grid-template-areas: 
            "left-column"
            "right-column";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .left-column {grid-area: left-column;}
    .right-column {grid-area: right-column;}
}

.one-col-center {width: 50%; margin: 0 auto;
    @media @sm {width: 75%;}
    @media @xs {width: 100%;}
}